*{
			margin:0;
			padding: 0; 
		}
		.conteudo{
			max-width: 960px;
			max-height: 393px;
			overflow: hidden;
		}
		.conteudo .jumbotron{
			padding: 0 !important;
			margin-bottom: 0;
			background: #e3e4e6;
		}
		.conteudo .jumbotron img{
			padding: 15px 0 15px 10px;

		}
		.conteudo .thumb{
			padding: 5px 0;
		}
		.imagens_produtos{
			width: 99px;
			height: 99px;
		}
		h5{
			word-wrap: break-word;
		}
		.padding-8{
			padding-right: 0px;
			padding-left: 0px;
		}
		.thumbnail{
			border: none;
		}
		.entrar-loja{
			background: #F05A22;
			color:#fff;
			border-radius: 0px !important;
		}
		.descricao_produtos{
			font-size: 0.775em;
			color: #343434;
			font-family: arial;
			margin-bottom: 5px;
			min-height: 47.73px;
		}
		.preco{
			font-size: 1em;
			font-weight: bold;
			font-weight: 18px;
			color: #F05A22;
			margin-bottom: 0px;
		}
		.a_vista{
			font-size: 0.775em;
			color: #343434;
			font-family: arial;
			margin-bottom: 0px;
		}
		.parcelamento{
			color: #838383;
			font-size: 0.69em;
			color: #343434;
			font-family: arial;
			margin-bottom: 5px;
		}
		.entrar-loja:focus{
			color: #fff !important;
			font-weight: bold !important;
		}
		.entrar-loja,.entrar-loja:visited{
			font-family: Arial;
			font-size: 1em;
			font-weight: bold !important;
		}
		.entrar-loja:hover,.entrar-loja:active{
			background:#BF4011;
			color: #fff !important;
		}
		.jumbotron .powered_by{
			font-size: 0.775em;
			color: #343434;
			font-weight: bold;
			background: #e3e4e6;
			line-height: 3;
		}
		.linha_footer{
			max-width: 970px;
			height: 34px;
			padding: 0 !important;
			background: #e3e4e6;
		}
		.navbar{
			min-height: 0 !important;
			padding: 0;
		}
		.navbar li {
			padding-left: 5px;
		    float: left;
		    width: 159px;
		    font-size: 18px;
		    border-right: 2px solid #f05a22;
		    list-style-type: none;
		    cursor: pointer;
		}
		.navbar li a:focus{
			border:none !important;
			outline: none !important; 
		}
		.navbar li:last-child {
			border-right: none;
		}
		.navbar li.ativo{
			color: #fff;
			background: #333333;
		}
		.navbar li.ativo a{
			color: #fff;
		}
		.nav-tabs a{
			padding: 0 !important;
			text-decoration: none;
			color: #343434;
		}
		.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
			background: transparent !important;
			border:none;
			color:#fff;
		}
		.nav-tabs > li > a:hover{
			border-color: transparent;
		}
		.nav > li > a:focus, .nav > li > a:hover{
			background: transparent;
		}
		.carousel-control{
			width: 22px;
			background-image:none !important;
		}